*{

	margin: 0;
	padding: 0;

}

html,body{

	height: 400vh;
	overflow-x: hidden;

}

div.boxx{

	position: fixed;
	background-color: black;
	vertical-align: top;
	height: 220px;
	font-variant: small-caps;


}


h1{

	color: 	white;
	margin: 10px 10px;
	text-decoration: underline;

}

table{

	padding: 100px 10px;

	
}

a{

	color: white;
	text-decoration: none;

}

td{

	width: 10%;

}

form{

	margin-top: -120px;
	margin-left: 1250px;

}

img{

	max-width: 100px;
	margin-left: 1325px;
	margin-top: -75px;
}

.produtos{

	width: 300px;
	height: 300px;
	border: 1px solid black;
	margin: 50px 20px;
	display: inline-block;
	vertical-align: bottom;

}

.box2{

	width: 50%;
	height: 100%;
	margin: 0 auto;
	position: ;


}
